*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    font-family : "poppins",sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 600px;
    background-color: rgb(137, 170, 176);
}
.wrapper{
    background-color: rgb(255, 255, 255);
    width: 420px;
    color:black;
    padding: 30px 40px;
}
.wrapper h1{
    font-size:35px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: black;
}
.input-box i{
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember label input{
    accent-color: blues;
    margin-right: 5px;
}
.remember a{
    color: black;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background-color: burlywood;
    border: none;
    outline:none;
    border-radius:40px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}
.wrapper .register{
    font-size:15px;
    text-align: center;
    margin: 10px 10px;
}
.register p a{
    text-decoration: none;
}
.register p a:hover{
    text-decoration: underline;
} 





